

p {
  border-radius: 18px;
  font-size: 20px;
  text-align: center;
}
header a {
  font-size: 20px;
  padding: 20px;
  color: #293133;
  text-decoration: none;
  display: inline;
header a:hover {
  color: #FFCF48;
 
}
main p {
  padding: 10px;
  box-shadow: 8px 8px 17px 3px;
  margin: 50px; 
}
.t {
  margin-left: 830px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 20px;
}
li {
  display: inline;
}
.footer {
  margin-top: 29px;
}
.div {
  overflow: hidden;
  display: grid;
  grid-template-areas: "header" "main" "footer" ;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
header {
  margin: 0px;
}

