a {
  font-size: 20px;
}
p {
  border-radius: 18px;
  font-size: 20px;
  text-align: center;
}
header a {
  font-size: 20px;
  padding: 20px;
  color: #293133;
  text-decoration: none;
header a:hover {
  color: #FFCF48;
  text-decoration: none;
}
main p {
  padding: 10px;
  box-shadow: 8px 8px 17px 3px;
  margin: 50px; 
}
.t {
  margin-left: 830px;
}
ul {
  list-style: none;
  marin: 0;
  padding: 20px;
}
li {
  display: inline;
}
  

